<div class="contenedor-global-login">

    <h3>LOGIN</h3>
    
    <form   [formGroup]="miFormulario"
            (ngSubmit)="login()"
            >
    
        <div>
    
            <input  id="email"
                    type="email"
                    class="b-input"
                    formControlName="email"
                    [(ngModel)]="emailStorage"
                    placeholder="Correo electrónico"
                    >
            <div    *ngIf="campoEmailValido()"
                    class="alert-form"
                    >
                        Formato de correo no válido.
            </div>
    
        </div>
    
        <div>
    
            <input  id="password"
                    type="password"
                    class="b-input"
                    formControlName="password"
                    placeholder="Contraseña"
                    >
                    
            <div    *ngIf="campoPassValido()"
                    class="alert-form"
                    >
                        Debe tener al menos 6 caracteres.
            </div>
    
        </div>
    
        <div    class="b-usuario">
    
            <div    (click)="recordameAccion()"
                    class="b-recordar"
                    >
    
                <i  class="fa-regular"
                    [ngClass]="{
                      'fa-circle': !recordame,
                      'fa-circle-check': recordame
                    }"
                    >
                </i>
        
                <span>Recordar mi usuario</span>
    
            </div>
    
            <a  routerLink="/auth/registro">¿No tienes cuenta?</a>
    
        </div>
    
        <div>
    
            <button type="submit"
                    [disabled]="miFormulario.invalid"
                    class="b-input btn"
                    >
                        Ingresar
            </button>
    
        </div>
    
    </form>

</div>
