<div class="contenedor">

    <!-- BLOQUE IZQUIERDO. USUARIO Y NUEVA TAREA -->
    <div class="bloque-izquierda">
        
        <div    class="bloque-datos"
                *ngIf="listadoRespuesta.nombre === undefined"
                >
            <h3>Cargando...</h3>
            
        </div>
        
        <div class="bloque-datos">

            <h3>{{ listadoRespuesta.nombre }}</h3>
            <p  (click)="salir()">Salir</p>

        </div>

        <div class="bloque-form">

            <form   [formGroup]="miTarea"
                    (ngSubmit)="guardarTarea()"
                    >

                <div>

                    <input  id="tit" 
                            type="text" 
                            placeholder="Título"
                            formControlName="tit"
                            [ngModel]="tareaModificar.tit"
                            class="b-input"
                            maxlength="20"
                            >

                </div>

                <div>

                    <textarea   id="txt" 
                                type="text" 
                                placeholder="Tarea"
                                formControlName="txt"
                                [ngModel]="tareaModificar.txt"
                                class="b-input textarea"
                                >
                                Tarea
                    </textarea>

                </div>

                <div>

                    <input  id="tags" 
                            type="text" 
                            placeholder="Tags, Separar por coma"
                            formControlName="tags"
                            [ngModel]="tareaModificar.tags"
                            class="b-input"
                            >

                </div>

                <div>

                    <button type="submit"
                            [disabled]="miTarea.invalid"
                            class="b-input btn"
                            >
                                Guardar
                    </button>
            
                </div>
                
            </form>
            
        </div>
        
    </div>

    <!-- BLOQUE DERECHO. FILTRO Y TAREAS -->
        
    <div    class="bloque-derecha"
            >

        <div    class="bloque-tareas"
                >
                    <app-tarea  [tareasEnvio]="listadoRespuesta.tareas"
                                (indexMod)="modificar( $event )"
                                >
                    </app-tarea>
        </div>
 
    </div>
    
</div>

