<div class="contenedor">

    <!-- BLOQUE IZQUIERDO. USUARIO Y NUEVA TAREA -->
    <div class="bloque-izquierda">
        
        <div class="bloque-datos">
            <h3>nombre</h3>
            <p  (click)="salir()">Salir</p>
        </div>

        <div class="bloque-form">

            <form   [formGroup]="miTarea"
                    (ngSubmit)="guardarTarea()"
                    >

                <div>

                    <label for="tit">Título tarea</label>
                    <input  id="tit" 
                            type="text" 
                            placeholder="Título tarea"
                            formControlName="tit"
                            [ngModel]="tareaModificar.tit"
                            >

                </div>

                <div>

                    <label for="txt">Tarea</label>
                    <!-- Cambiar a textarea -->
                    <input  id="txt" 
                            type="text" 
                            placeholder="Tarea"
                            formControlName="txt"
                            [ngModel]="tareaModificar.txt"
                            >

                </div>

                <div>

                    <label for="tags">Tags</label>
                    <input  id="tags" 
                            type="text" 
                            placeholder="Separa cada tag por coma"
                            formControlName="tags"
                            [ngModel]="tareaModificar.tags"
                            >

                </div>

                <div>

                    <button type="submit"
                            [disabled]="miTarea.invalid"
                            >
                                Ingresar
                    </button>
            
                </div>
                
            </form>
            
        </div>
        
    </div>

    <!-- BLOQUE DERECHO. FILTRO Y TAREAS -->
    <div    class="bloque-derecha"
            >
        

        <!-- Esperando la carga de los datos -->
        <div    class="cargando-bloque-tareas"
                *ngIf="!listadoRespuesta; else cargado"
                >
                    Cargando
        </div>


        <!-- Datos cargados -->
        <ng-template    #cargado>

            <div    class="bloque-tareas"
                    >
                        <app-tarea  [tareasEnvio]="listadoRespuesta.tareas"
                                    (indexMod)="modificar( $event )"
                                    >
                        </app-tarea>
            </div>

        </ng-template>
        
    </div>
    
</div>

