<div class="contenedor-global-login">

    <h3>REGISTRO</h3>
    
    <form   [formGroup]="miFormulario"
            (ngSubmit)="guardar()"
            >
    
        <div>
    
            <input  id="email"
                    type="email"
                    formControlName="email"
                    class="b-input"
                    placeholder="Correo electrónico"
                    >
    
        </div>
    
        <div>
    
            <input  id="name"
                    type="text"
                    formControlName="nombre"
                    class="b-input"
                    placeholder="Nombre Usuario"
                    >
    
        </div>
    
        <div>
    
            <input  id="password"
                    type="password"
                    formControlName="password"
                    class="b-input"
                    placeholder="Contraseña"
                    >
    
        </div>
    
        <div    class="b-usuario">
    
            <div    (click)="recordameAccion()"
                    class="b-recordar"
                    >
    
                <i  class="fa-regular"
                    [ngClass]="{
                      'fa-circle': !recordame,
                      'fa-circle-check': recordame
                    }"
                    >
                </i>
        
                <span>Recordar mi usuario</span>
    
            </div>
    
            <a  routerLink="/auth/login">¿Ya tienes cuenta?/ Ingresar</a>
    
        </div>
    
        <div>
    
            <button type="submit"
                    [disabled]="miFormulario.invalid"
                    class="b-input btn"
                    >
                        Crear Cuenta
            </button>
    
        </div>
    
    </form>
    
</div>
