.contenedor-global {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-outlet {
    flex: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

app-footer {
    margin: 0;
    background-color: #000;
}