.contenedor-global {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-outlet {
    flex: auto;
    margin: 0 auto;
}

/* .contenido {
    background-color: #fff;
    border-radius: 25px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

app-footer {
    margin: 0;
    background-color: #000;
}