.contenedor-global {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-outlet {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    flex: auto;
    margin: 0;
    padding: 0;
}

app-footer {
    margin: 0;
    background-color: #000;
}