<div    *ngIf="modoModificar"
        class="modo-modificar"
        >
    Modificar en visor
</div>

<div    class="contenedor"
        *ngFor="let tarea of tareasEnvio; let i = index"
        >

    <div class="bloque-funciones">

        <i  class="fa-solid fa-pen-to-square icon editar"
            (click)="modificar( i )"
            >
        </i>

        <i  class="fa-solid fa-trash icon cubo"
            (click)="eliminar( i )"
            >
        </i>

    </div>
        
    <div class="bloque-tit">

        <h3>{{ tarea.tit }}</h3>

    </div>

    <div class="bloque-tarea">
        <p>{{ tarea.txt }}</p>
    </div>

    <div class="bloque-tags">

        <ul *ngFor="let tag of tarea.tags | listadoTags">
            <li>{{ tag }}</li>
        </ul>

    </div>

</div>

